
.search {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    height: 20px;
}

.input {
    width: 20px;
    transition: all 1s;
}

.img-search {
    height: 20px;
    width: 20px;
    position: absolute;
}

.style {
    width: 200px;
}